$margin : 10px;
$width : 350px;
$img-width:180px;
$img-height:140px;
$margin-thumbnail:10px;
$accent:#ffcf00;

body {
    color: #00ff00;
    cursor: pointer;
}

.zichtbaar {
    color: #ff0000;
}

header {
    // background-color: $accent;
    height: auto;
}

nav {
    height: 100px;


    #minifigure {
        max-width: 115px;
        max-height: 115px;
        //top: -20px;
        float: left;
    }



    ul {
        float: left;
        margin-top: 20px;

        li {
            //background-color: yellow;
            list-style-type: none;
            padding: 12px;
            float: left;
            margin-left: 20px;
            font-size: 1.5rem;
            color: black;

            & img {
                top: 20px;
                height: auto;
                max-width: 100px;

            }

            a {
                color: black;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

}

main {
    div#moc {
        h2 {
            text-align: center;
            margin-top: $margin;
        }

        div.row>div {
            width: auto;
            height: auto;
            //padding: 0;
            margin: auto;
        }

        div.row a img {
            margin-top: $margin;
            //max-width: $img-width;
            //max-height: $img-height;
            width: 100%;
            height: auto;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);

            border-radius: 15px;

            &:hover {
                box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 40px 0 rgba(0, 0, 0, 0.19);

            }


        }

        button {
            margin-top: $margin;

            font-size: 1.3rem;
            margin-bottom: 20px;
            ;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    div.container article {
        //border: solid 1px black;
        margin-top: $margin;
        max-width: $width;
        border-radius: 15px;
        padding: 1rem;
        margin-bottom: $margin;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);


        &:first-child {
            margin-left: auto;
            margin-right: auto;
        }

        &:last-child {
            margin-left: auto;
            margin-right: auto;
        }



    }

    div#carouselExampleIndicators {
        //margin-top: 20px;
        top: -10px;
    }

}

@media only screen and (max-width: 768px) {
    main div#moc div.row>div {
        width: 50%;
    }
}

@media only screen and (max-width: 995px) {
    nav {
        height: 100%;
    }
}