@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

$margin : 20px;
$width : 350px;
$img-width:180px;
$img-height:140px;
$margin-thumbnail:10px;
$font:'Lora',
serif;


$blue: #3891A6;
$black: #4C5B5C;
$yellow: #fdd900;
$red: #DB5461;
$orange: #E3655B;
$background:#F8F8F8;
$font-prox:proxima-nova,
sans-serif;


body {


    header {
        nav {
            div.container {
                button {
                    span {
                        color: black;
                    }
                }
            }

        }
    }

    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 1200px;
}

.navbar {
    padding: 0 !important;
}

header {
    // background-color: $accent;
    height: auto;

    #minifigure {
        max-width: 110px;
        max-height: 100px;
        //top: -20px;
        position: relative;
    }

}

nav {
    height: 100px;
    display: flex !important;
    background-color: $yellow;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    padding: 0;

    ul {
        margin: 0;

        li {
            //background-color: yellow;
            list-style-type: none;
            float: left;
            font-size: 1.7rem;
            padding: 0.9rem;
            color: black;
            font-family: $font;

            font-weight: bold;
            transition: 0.2s;



            i {
                margin-right: 10px;
            }



            & img {
                top: 20px;
                height: auto;
                max-width: 100px;

            }

            a {
                color: black;

                &:hover {
                    color: $black;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }

}

main#home {
    font-family: $font;
    background-color: $background;


    div#moc {

        h2 {
            text-align: center;
            margin-top: $margin;
        }

        div.row>div {
            width: auto;
            height: auto;
            //padding: 0;
            margin: auto;
        }

        div.row a img {
            margin-top: $margin;
            //max-width: $img-width;
            //max-height: $img-height;
            width: 100%;
            height: auto;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);

            border-radius: 15px;

            &:hover {
                box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 40px 0 rgba(0, 0, 0, 0.19);

            }


        }

        button {
            margin-top: $margin;

            font-size: 1.3rem;
            margin-bottom: 20px;
            ;

            a {
                text-decoration: none;
                color: black;

            }
        }
    }

    div.container article {
        //border: solid 1px black;
        margin-top: $margin;
        max-width: $width;
        border-radius: 15px;
        padding: 1rem;
        margin-bottom: $margin;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);


        &:first-child {
            margin-left: auto;
            margin-right: auto;
        }

        &:last-child {
            margin-left: auto;
            margin-right: auto;
        }



    }



}

div.link {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-content: center;

    a {

        background-color: $yellow;
        padding: 0.8rem;
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;

        &:hover {
            background-color: #ffe444;
        }


    }
}

main#moc {
    div.container-fluid {}

    span#img_lego {
        display: flex;
        justify-content: center;
        background-color: $blue;
    }

    .new-moc {
        h2 {
            display: flex;
            justify-content: center;
            margin: 0;
            margin-top: $margin;
            font-family: $font;
            font-weight: bold;
        }
    }

    div.container {
        div.row {

            .card {
                //margin-top: $margin;
                box-sizing: border-box;
                max-width: 250px;
                margin: 0 auto;
                margin-bottom: $margin;

                a {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    hr {
        margin-top: 0;
        background: $red;

    }

}

main#lego {
    background-color: $background;
    min-height: 1080px;

    div.color {
        background-color: #56317e;
        background-image: url('image/bgi.png');
        background-position: center;
        background-size: cover;

        div.container-fluid {
            max-width: 1200px;
            display: flex;
            justify-content: space-evenly;


            div.tekst {
                display: flex;
                align-items: flex-start;

                h1 {
                    margin-top: $margin;
                    font-size: 2rem;
                    color: white;
                    font-family: $font-prox;
                    font-weight: 600;

                }
            }

            div.img {

                display: flex;
                flex-direction: column;

                img {
                    height: 200px;
                    width: 200px;
                    align-self: center;
                }

                div.p {


                    align-self: center;

                    h2 {
                        font-size: 1.2rem;
                        color: #fff;
                        text-align: center;
                    }

                    p {
                        color: #fff;
                    }
                }
            }

        }
    }

    div.sets {
        div.cards {
            margin-top: $margin;

            div.card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &:first-child {
                    margin-bottom: $margin;
                }

                div.img {
                    background-color: pink;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

main#account {
    background-color: $background;
    font-family: $font;
    min-height: 1080px;

    div.container-fluid {
        section#navigatie {
            padding-top: 100px;


            display: flex;

            article#content {
                background-color: #fff;
                margin-left: $margin;
                margin-bottom: $margin;

            }

            div.profile {
                background-color: #fff;
                padding: 1.2rem;
                width: 100%;

                hr {
                    background: $blue;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                div.img {
                    display: flex;
                    justify-content: center;
                    margin-top: $margin;

                }

                div.username {
                    display: flex;
                    justify-content: center;
                    margin-top: $margin-thumbnail;
                }

                div.sets {
                    span {
                        font-size: 1.2rem;
                    }
                }
            }



        }

        section.content {
            margin-top: 100px;
            display: flex;
            flex-direction: column;

            div.second-row {

                background-color: #fff;
                margin-top: $margin;
                padding: 1rem;
                margin-bottom: $margin;

                h3 {
                    text-align: center;
                }
            }

            div.all-small-cards {
                display: flex;
                width: 100%;
                height: 110px;
                justify-content: space-between;

                div.row {
                    width: 100%;
                    height: 150px;
                }

                div.small-cards {
                    background-color: #fff;
                    max-height: 130px;
                    max-width: 250px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                    }

                    &:hover {
                        div.icon {
                            i {
                                font-size: 4rem;
                            }
                        }
                    }

                    div.icon {
                        position: relative;
                        height: 45px;
                        width: 60px;
                        margin: 6px auto 12px;
                        text-align: center;

                        i {
                            font-size: 3.5rem;
                            color: black;
                        }
                    }

                    div.tekst {
                        text-align: center;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            text-decoration: none;
                        }

                    }



                    &:first-child {
                        margin-right: 10px;

                    }

                    &:last-child {
                        margin-left: 10px;
                    }
                }



            }

            div.article1 {
                display: flex;
                position: relative;
            }
        }

    }




}

body#account {
    .navbar {
        padding: 0;
    }

    button {
        span {
            color: black;
        }
    }
}

main#detail {

    div.container-fluid {
        max-width: 1200px;
        padding-top: $margin;
        display: flex;
        justify-content: space-between;
        border-left: solid 2px $background;
        border-right: solid 2px $background;


        div.img {
            img {
                width: 100%;
                height: auto;
            }


        }

        div.content {
            width: 100%;

            border: solid 2px $background;

            header {
                display: flex;
                justify-content: center;
                padding-top: 1rem;

                h2 {
                    font-family: $font;
                    border-bottom: solid 3px $background;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            article {
                display: flex;
                flex-direction: column;
                padding-top: 2rem;

                span {
                    margin-top: $margin;
                    font-size: 1.2rem;
                    font-weight: bold;


                }
            }
        }

    }

    div.simular {
        background-color: $background;
        margin-top: $margin;

        div.row {
            div.card-deck {
                margin: 0;

                div.card {
                    div.card-body {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

body#login {
    background-color: $yellow;
}

body#register {
    background-color: $yellow;
}

main#login {
    margin-top: 200px;

    form {
        width: 450px;
        min-height: 500px;
        height: auto;
        border-radius: 5px;
        margin: 2% auto;
        box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
        padding: 2%;
        background-image: linear-gradient(-225deg, $blue 50%, $orange 50%);
    }

    /* form Container */
    form .con {
        display: -webkit-flex;
        display: flex;

        -webkit-justify-content: space-around;
        justify-content: space-around;

        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        margin: 0 auto;

        div.other {
            display: flex;
            justify-content: space-between;

            button.frgt-pass {
                margin-right: 5px;
            }
        }
    }

    /* the header form form */
    header {
        margin: 2% auto 10% auto;
        text-align: center;
    }

    /* Login title form form */
    header h2 {
        font-size: 250%;
        font-family: 'Playfair Display', serif;
        color: #3e403f;
    }

    /*  A welcome message or an explanation of the login form */
    header p {
        letter-spacing: 0.05em;
    }



    /* //////////////////////////////////////////// */
    /* //////////////////////////////////////////// */


    .input-item {
        background: #fff;
        color: #333;
        padding: 14.5px 0px 15px 9px;
        border-radius: 5px 0px 0px 5px;
        bottom: -1px;
        position: relative;
    }



    /* Show/hide password Font Icon */
    #eye {
        background: #fff;
        color: #333;

        margin: 5.9px 0 0 0;
        margin-left: -20px;

        float: right;
        position: relative;
        right: 1%;
        top: -.2%;
        z-index: 5;

        top: 15px;
        right: 30px;

        cursor: pointer;
    }



    /* inputs form  */
    input[class="form-input"] {
        width: 250px;
        height: 50px;

        margin-top: 2%;
        padding: 15px;

        font-size: 16px;
        font-family: 'Abel', sans-serif;
        color: #5E6472;

        outline: none;
        border: none;

        border-radius: 0px 5px 5px 0px;
        transition: 0.2s linear;

    }

    input[id="txt-input"] {
        width: 250px;
    }

    /* focus  */
    input:focus {
        transform: translateX(-2px);
        border-radius: 5px;
    }

    /* //////////////////////////////////////////// */
    /* //////////////////////////////////////////// */

    /* input[type="text"] {min-width: 250px;} */
    /* buttons  */
    button {
        display: inline-block;
        color: #252537;

        width: 280px;
        height: 50px;

        padding: 0 20px;
        background: #fff;
        border-radius: 5px;

        outline: none;
        border: none;

        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;

        margin: 7% auto;
        letter-spacing: 0.05em;
    }

    /* Submits */
    .submits {
        display: inline-block;
        float: left;
        margin-left: 2%;
        color: $black;


    }

    a.signup {
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: #333;
        }
    }

    button.sign-up {
        display: flex;
        width: 120px;
        align-content: center;

        i {
            position: relative;
            right: -10px;
            top: 5px;
        }
    }

    /*       Forgot Password button FAF3DD  */
    .frgt-pass {
        background: transparent;
    }

    /*     Sign Up button  */
    .sign-up {
        background: #B8F2E6;
    }


    /* buttons hover */
    button:hover {
        transform: translatey(3px);
        box-shadow: none;
    }
    
    /* buttons hover Animation */
    button:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }

    div.test:hover {
        transform: translatey(3px);
        box-shadow: none;
    }

    /* buttons hover Animation */
    div.test:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }

    @keyframes ani9 {
        0% {
            transform: translateY(3px);
        }

        100% {
            transform: translateY(5px);
        }
    }

}

main#register {
    margin-top: 200px;

    form {
        width: 450px;
        min-height: 500px;
        height: auto;
        border-radius: 5px;
        margin: 2% auto;
        box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
        padding: 2%;
        background-image: linear-gradient(-225deg, $blue 50%, $orange 50%);
    }

    /* form Container */
    form .con {
        display: -webkit-flex;
        display: flex;

        -webkit-justify-content: space-around;
        justify-content: space-around;

        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        margin: 0 auto;



        div.other {
            padding-right: 1.6rem;
            display: flex;



            button.frgt-pass {
                margin-right: 5px;
            }
        }
    }

    /* the header form form */
    header {
        margin: 2% auto 10% auto;
        text-align: center;
    }

    /* Login title form form */
    header h2 {
        font-size: 250%;
        font-family: 'Playfair Display', serif;
        color: #3e403f;
    }

    /*  A welcome message or an explanation of the login form */
    header p {
        letter-spacing: 0.05em;
    }



    /* //////////////////////////////////////////// */
    /* //////////////////////////////////////////// */


    .input-item {
        background: #fff;
        color: #333;
        padding: 14.5px 0px 15px 9px;
        border-radius: 5px 0px 0px 5px;
        bottom: -1px;
        position: relative;
    }



    /* Show/hide password Font Icon */
    #eye,
    #eye1 {
        background: #fff;
        color: #333;

        margin: 5.9px 0 0 0;
        margin-left: -20px;

        float: right;
        position: relative;
        right: 1%;
        top: -.2%;
        z-index: 5;

        top: 15px;
        right: 30px;

        cursor: pointer;
    }

    /* inputs form  */
    input[class="form-input"] {
        width: 250px;
        height: 50px;

        margin-top: 2%;
        padding: 15px;

        font-size: 16px;
        font-family: 'Abel', sans-serif;
        color: #5E6472;

        outline: none;
        border: none;

        border-radius: 0px 5px 5px 0px;
        transition: 0.2s linear;

    }

    input[id="txt-input"] {
        width: 250px;
    }

    /* focus  */
    input:focus {
        transform: translateX(-2px);
        border-radius: 5px;
    }

    /* //////////////////////////////////////////// */
    /* //////////////////////////////////////////// */

    /* input[type="text"] {min-width: 250px;} */
    /* buttons  */
    button {
        display: inline-block;
        color: #252537;

        width: 280px;
        height: 50px;

        padding: 0 20px;
        background: #fff;
        border-radius: 5px;

        outline: none;
        border: none;

        cursor: pointer;
        text-align: center;
        transition: all 0.2s linear;

        margin: 7% auto;
        letter-spacing: 0.05em;
    }

    /* Submits */
    .submits {
        width: 100%;
        display: inline-block;
        float: left;
        margin-left: 2%;
    }

    /*       Forgot Password button FAF3DD  */
    .frgt-pass {
        background: transparent;
    }

    /*     Sign Up button  */
    .sign-up {
        background: #B8F2E6;
    }


    /* buttons hover */
    button:hover {
        transform: translatey(3px);
        box-shadow: none;
    }

    /* buttons hover Animation */
    button:hover {
        animation: ani9 0.4s ease-in-out infinite alternate;
    }

    @keyframes ani9 {
        0% {
            transform: translateY(3px);
        }

        100% {
            transform: translateY(5px);
        }
    }

}

@media only screen and (max-width: 768px) {

    main#mox {
        div.container {
            div.row {
                .card {}
            }
        }
    }

}

@media only screen and (max-width: 995px) {
    nav {
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    main#detail {

        div.container-fluid {
            flex-direction: column;
        }
    }


    #minifigure {
        display: none;
    }

    div#nav {
        padding: 0;
    }

    nav {
        height: auto;
        display: flex;
        justify-content: center;

        div.container {
            margin: 0;
            padding: 0;

            button {
                padding: 1rem;
            }

        }

        ul {
            float: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            margin: 0;
            padding: 0;


            li {
                float: none;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }

    .active {
        background-color: $orange;
    }

    main div#carouselExampleIndicators {
        //margin-top: 20px;
        display: none;
    }

}