body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}
body header nav div.container button span {
  color: black;
}

.container-fluid {
  max-width: 1200px;
}

.navbar {
  padding: 0 !important;
}

header {
  height: auto;
}
header #minifigure {
  max-width: 110px;
  max-height: 100px;
  position: relative;
}

nav {
  height: 100px;
  display: flex !important;
  background-color: #FDD92D;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  padding: 0;
}
nav ul {
  margin: 0;
}
nav ul li {
  list-style-type: none;
  float: left;
  font-size: 1.7rem;
  padding: 0.9rem;
  color: black;
  font-family: "Lora", serif;
  font-weight: bold;
  transition: 0.2s;
}
nav ul li i {
  margin-right: 10px;
}
nav ul li img {
  top: 20px;
  height: auto;
  max-width: 100px;
}
nav ul li a {
  color: black;
}
nav ul li a:hover {
  color: #4C5B5C;
}
nav ul li a:hover {
  text-decoration: none;
}

main#home {
  font-family: "Lora", serif;
  background-color: #F8F8F8;
}
main#home div#moc h2 {
  text-align: center;
  margin-top: 20px;
}
main#home div#moc div.row > div {
  width: auto;
  height: auto;
  margin: auto;
}
main#home div#moc div.row a img {
  margin-top: 20px;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
main#home div#moc div.row a img:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 40px 0 rgba(0, 0, 0, 0.19);
}
main#home div#moc button {
  margin-top: 20px;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
main#home div#moc button a {
  text-decoration: none;
  color: black;
}
main#home div.container article {
  margin-top: 20px;
  max-width: 350px;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
main#home div.container article:first-child {
  margin-left: auto;
  margin-right: auto;
}
main#home div.container article:last-child {
  margin-left: auto;
  margin-right: auto;
}

div.link {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}
div.link a {
  background-color: #FDD92D;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

main#moc span#img_lego {
  display: flex;
  justify-content: center;
  background-color: #3891A6;
}
main#moc .new-moc h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  font-family: "Lora", serif;
  font-weight: bold;
}
main#moc div.container div.row .card {
  box-sizing: border-box;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}
main#moc div.container div.row .card a img {
  width: 100%;
  height: auto;
}
main#moc hr {
  margin-top: 0;
  background: #DB5461;
}

main#account {
  background-color: #F8F8F8;
  font-family: "Lora", serif;
}
main#account div.container-fluid section#navigatie {
  padding-top: 100px;
  border: solid 1 px #4C5B5C;
  width: auto;
  display: flex;
}
main#account div.container-fluid section#navigatie article#content {
  background-color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
}
main#account div.container-fluid section#navigatie ul {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
main#account div.container-fluid section#navigatie ul li {
  padding: 1rem;
  font-size: 1.2rem;
  list-style: none;
  text-align: center;
}
main#account div.container-fluid section#navigatie ul li:not(:last-child) {
  border-bottom: 1px solid #3891A6;
}
main#account div.container-fluid section#navigatie ul li a {
  color: #3891A6;
}

body#account .navbar {
  padding: 0;
}
body#account button span {
  color: black;
}

@media only screen and (max-width: 995px) {
  nav {
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #minifigure {
    display: none;
  }

  div#nav {
    padding: 0;
  }

  nav {
    height: auto;
    display: flex;
    justify-content: center;
  }
  nav div.container {
    margin: 0;
    padding: 0;
  }
  nav div.container button {
    padding: 1rem;
  }
  nav ul {
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active {
    background-color: #E3655B;
  }

  main div#carouselExampleIndicators {
    display: none;
  }
}

/*# sourceMappingURL=screen.css.map */
